.sensors {
	margin: 15px;
}

.sensors h1 {
	margin-bottom: 20px;
}

.sensors div {
	margin-bottom: 15px;
}

.sensorsAdd {
	margin: 25px 15px;
}

.right {
	color: green;
}

.wrong {
	color: red;
}