<div class="sensors">
    <h1>Датчики</h1>
    <div
        *ngFor="let i of sensors, let index = index"

        [ngClass]="{
            'right': i.online == true,
            'wrong': i.online == false
        }"
    >
        {{ i.name }}
        <button (click)="delete(index)">Удалить</button>
    </div>
</div>

<div class="sensorsAdd">
    <button (click)="create()">Добавить датчик</button>
</div>